.headbox {
    box-sizing: border-box;
    text-align:center;
    width:100%;
    padding: 5px 0px 5px 0px;
    background-color:#8fd8f8;
    height: auto;
}
.donationinfo {
    margin:auto;
    width:100%;
}
.selection {
    color: #fcb354;
    margin:auto;
}
.donatechoices {
    margin:0 auto;
    padding:15px;
    width:100%;
}
.endpage {
    margin:0 auto;
    width:60%;
}
.suggestion {
    color: #fcb354;
    margin:0 auto;
   text-align:center;
}
.AHAlogo {
    border: 2px solid;
}
.AHAprice {
    padding-top:30px;
}
a   {
    text-decoration: none;
    color:black;
}
a:link{
    text-decoration: none;
    color:#fcb354;
}
a:hover {
    text-decoration: none;
    color:#8fd8f8;
}