.box   {
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #24627; 
    display:inline-block;
    width:100%;
    height:auto;
}
.home-content{
    padding: 0.5rem 1rem;
    padding-top: 0.5rem;
    padding-right:1rem;
    padding-bottom: 0.5rem;
    padding-left:1rem;
}
#tranlate-button {
    background-color: #fcb354;
    border-radius:25px;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
}
/* Style the active class (and buttons on mouse-over) */
.translate-button {
    background-color: #db9539;
    color: white;
}
.newsletter-link {
    color:#fcb354;
}
#welcome-comments {
    text-align:center;
}
#contact-resources{
    list-style-type:none;
    text-align:left;
    align:center;
}
.events-calender {
    margin: 5% 2% 5% 2%;
}
.border-info {
    width:100%;
    text-align:center;
border-style: double;
    border-width:thick;
}
#wrap {
    width:100%;
    margin:0 auto;
 }
 #left_col {
    float:left;
    width:50%;
    list-style-type:none;
 }
 #right_col {
    float:right;
    width:50%;
    list-style-type:none;
 }
 .noted {
     align:center;
 }
.flyer .img-fluid.{
    display:inline-block;
    max-width: 100%;
    height:auto;
 }
 .flyer {
     
 }