.box   {
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #24627; 
    display:inline-block;
    width:100%;
    height:auto;
}
.home-content{
    padding: 0.5rem 1rem;
    padding-top: 0.5rem;
    padding-right:1rem;
    padding-bottom: 0.5rem;
    padding-left:1rem;
}
#tranlate-button {
    background-color: #fcb354;
    border-radius:25px;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
}
/* Style the active class (and buttons on mouse-over) */
.active, .translate-button:hover {
    background-color: #db9539;
    color: white;
}
.newsletter-btn {
    color:#fcb354;
}
#welcome-comments {
    text-align:center;
}
.contact-resources ul{
    list-style-type:none;
    text-align:center;
}