.box   {
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #246271; 
    display:inline-block;
    width:100%;
    height:auto;
}
.home-content{
    padding: 0.5rem 1rem;
    padding-top: 0.5rem;
    padding-right:1rem;
    padding-bottom: 0.5rem;
    padding-left:1rem;
}
#tranlate-button {
    background-color: #fcb354;
    border-radius:25px;
    padding: 10px 16px 10px 16px;
    color: white;
    cursor: pointer;
    width: 150px;
}
#tranlate-button:hover{
    background-color:#8fd8f8;
    color:black;
}
.newsletter-link {
    color:#fcb354;
    cursor:pointer;
}
.newsletter-link:hover {
    color:#8fd8f8;
    cursor:pointer;
}
.logo {
    color:#0078FF;
    box-sizing: border-box;
    border:none;
    padding: 0px;
    font-size:50px;
    cursor:pointer;
    position:relative;
}
.logo:hover {
    color:#fcb354;
}
.facebooklogo {
    box-align:right;
}
h1 {
    color:#246271;
    text-align:center;
    font-weight: bold;

}
#welcome-comments {
    text-align:center;
}
.contactbox {
    text-align:center;
}
#contact-resources{
    list-style-type:none;
    text-align:left;
    display:inline-block;
}
.events-calender {
    margin:0% 2% 5% 2%;
    list-style-type:none;
}
.border-info {
    width:100%;
    text-align:center;
    border-style: double;
    border-width:thick;
}
#wrap {
    width:100%;
    margin:0 auto;
 }
 #left_col {
    float:left;
    width:50%;
    list-style-type:none;
 }
 #right_col {
    float:right;
    width:50%;
    list-style-type:none;
 }
 .noted {
     box-align:center;
 }
.flyer .img-fluid.{
    display:inline-block;
    max-width: 100%;
    height:auto;
 }
