body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
  }
.about {
    height: 400px;
    background: url("../images/panda.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 30%; 
    background-size: cover;
}
.navbar {
      width: auto;
}
/*.navbar-toggler {
  color: rgb(24, 69, 77);
}*/
.navbar-nav {
    display:block;
    list-style-type: none;
    text-align:center;
}
.nav-item {
    display: inline-block;
    padding-right: 90px;
}
.column {
      float: left;
      width: 33.3%;
      margin-bottom: 16px;
      padding: 0 8px;
      width: 100%;
        display: block;
}
    /* Add some shadows to create a card effect */
.card {
      box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
}    
    /* Some left and right padding inside the container */
.container {
      padding: 0 16px;
}    
    /* Clear floats */
.container::after, .row::after {
      content: "";
      clear: both;
      display:table-row;
}    
.title {
      color: rgb(62, 193, 216);
}    
.button {
      border: none;
      outline: 0;
      display: inline;
      padding: 8px;
      color: white;
      background-color: white;
      text-align: center;
      cursor: pointer;
      width: 100%;
      color:rgb(62, 193, 216);
}
.footer {
      position: static;
      left: 0;
      bottom: 200px;
      width: 100%;
      background-color: rgb(135, 228, 245);
      color:black;
      text-align: center;
}
h2 {
      text-align:center;
      color: rgb(62, 193, 216);
}
i {
     color: rgb(62, 193, 216);
}
col {
      padding: 6px
}
.p {
      border:none;
      box-align:center;
      text-align: left;
}
col {
      box-align:center;
      text-align:left;
}
#rcorners1 {
      border-radius: 25px;
      background: darkcyan;
      padding: 20px; 
      width: 100%;
      height: 100px; 
      float: 
}
#rcorners2 {
      border-radius: 25px;
      background: darkcyan;
      padding: 20px; 
      width: 33%;
      height: 100px; 
      float: 
}
li    {
      text-align:left;
}