.headbox {
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 15px 5px 5px 5px;
    background-image: url('../IMG/dandi.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover
}

.blurbin {
    margin: 0 auto;
    padding: 15px 15px 15px 15px;
}

.blurbbox {
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #246271;
    width: 90%;
    height:auto;
    margin:auto;
    padding-top:15px;
    color: white;
}

.reminder {
    width: 100%;
    margin:auto;
}

.reminders {
    width: 100%;
    
}

.offers-container li {
    margin-left: 70px;
    list-style-type: none;
}

.offerings {
    margin: 0 auto;
    color: #246271;
}

#linkyboi {
    color: #8fd8f8;
    cursor: pointer;
    text-decoration: none;
}

#linkyboi:hover {
    color: #fcb354;
    cursor: pointer;
    text-decoration: none;
}

.box {
    margin:0 auto;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #246271;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 15px 5px 5px 5px;
    color: #fcb354;
}
.border {
    width: 95%;
    text-align:center;
    margin:auto;
    color:#246271;
}